.container {
  border-radius: 10px;
  background-color: var(--main-contrast);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
  min-width: 300px;
  margin: 10px;
  box-shadow: -2px 3px 10px -3px;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > div > :nth-child(1) {
  font-weight: bold;
  color: var(--main-color);
}

.container:hover {
  cursor: pointer;
  filter: brightness(80%);
}
